#reader {
    display: none;
    width: 400px;
    height: 300px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#searchBox{
    margin: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 30px;
    width: auto;
}
#searchBoxInpu{
    border: none;
    outline: none;
}

.searchBoxBtn{
    margin-left: 10px;
    width: auto;
    background-color: green;
    border: none;
    border-radius: 20px;
    padding: 8px;
    color: white;
}